---
import AudioPlayer from "../components/audio-player.js";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h2>Audio Player with Own Button</h2>
    <AudioPlayer audioUrl='/croatian.mp3' client:only='lit' />

    <h2>Audio Player with External Button</h2>
    <AudioPlayer audioUrl='/croatian.mp3' client:load>
      <button slot='button'>Custom Play/Stop</button>
    </AudioPlayer>
  </body>
</html>
